body {
    background-color: peachpuff;
}

.header {
    font-family: Bradley Hand, cursive;
    background-image: url("https://images.unsplash.com/photo-1615690585120-a5cdabdac2b9?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2787&q=80");
    color: #ffffff;
}

.header h1 {
    display: flex;
    font-size: 72px;
    align-items: left;
    justify-content: space-between;
}

.navbar {
    color: white;
    font-family: marker felt, fantasy;
    font-size: 24px;
    margin-right: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    float: right; 
}

.navitem {
    display: inline-block;
    margin-left: 25px;
}